.candidate-edit-form,
.recruiter-form, .candidate-company-form {
  margin: 30px 0 30px 30px;

  & > div {
    margin-top: 15px;

    label {
      position: absolute;
      color: #333;
      font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    //  text-decoration: none;
    }
  }

  & > div > div {
    margin-left: 200px;
  }

  input[type=text] {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
		    line-height: 2.0rem;
    width: 100%;
  }

  .candidate-buttons {
    margin-top: 20px;
  }
}

.candidate-application-form {
  .application-form;

  padding: 20px 0 30px 30px;
}

.candidate-company-form,
.recruiter-form {
  margin: 30px 0 30px 80px;
}

.text-input-underlined {
  input[type='text'] {
    border-bottom: 1px solid lightgrey;
		    line-height: 2.2rem;
  }
.application-item{
		margin: 30px 60px !important;
	}
	.icon{
		margin: 30px 60px 30px 0px;
	}
}

.candidate-edit-form {
  padding: 10px 0 0 20px;
}

.remove-entry{
	    right: 10%;
			    position: absolute;
}

.add-entry{
	margin-left:15px;
	    background-color: #5c86f2;
			    border-radius: 4px;
					    color: #fff;
							    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
									    font-size: 14px;
											    font-weight: 600;
													    height: auto;
															    line-height: 1;
																	min-height:28px;
																	text-decoration:none;
}

.interest-application-item{
	min-height:120px;
}

.temp-interests-label{
	    color: #5a83f5;
			    font-size: 18px;
					    font-weight: 500;
}

.info-block{
	margin-bottom: 25px;

}
