.candidate-edit-form {

  & > div {
    margin-top: 15px;

    label {
      position: absolute;
      color: #333;
      font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
      text-decoration: none;
    }
  }

  & > div > div {
    margin-left: 200px;
  }
}
