/* TODO: merge with components/jobs/jobform.less */
.recruter__newjob-card {
	max-width: 700px;
  margin: 0 auto;
  position: relative;

  &__form-top {
    padding: 35px 0;
    color: #000;

    input.job-title {
      font-size: 18px;
    }

		div div div input[type='text']{
      border: 0;
      border-bottom: 1px solid rgba(128,128,128,.3);
			font-size:16px !important;
			height: 30px;
			width:100%;
		}

		textarea {
      min-height: 215px;
      width: 100%;
		}

		::-webkit-input-placeholder { /* WebKit browsers */
			opacity: 1 !important;
      color: #555;
		 }

    & > header {
      margin-bottom: 2.5rem;
    }

    & > div {
      // width: 500px;
      padding: 1rem 0;

      & > label {
        float: left;
        color: #000;
      }

      & > div.labeledField {

        & select {
          border-radius: 0;
        }

				input{
					padding:0px !important;
				}
      }
    }

    .mdl-textfield__input {
      border-bottom: 1px solid rgba(128,128,128,.3);
      font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
      font-weight: 400;
    }

		.textfield__light{
		}
  }

  &__form-bottom {
    padding: 35px;
    background-color: #fff;


		.add-entry{
			text-transform: capitalize !important;
			margin-left: 0px !important;
			margin-bottom: 30px !important;
		}

    .job-decription-label {
      color: #5a83f5;
      font-weight: 500;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-size: 16px;
    }

    .job-decription-ta {
      resize: none;
      border: 0;
      border-bottom: 1px solid rgba(128,128,128,.3);
      width: 350px;
      font-size: 13px;
      outline: none;
      margin-bottom: 10px;
    }

    & button[type=button]{
      color: #5a83f5;
      font-weight: 500;
      border: 0;
      background-color: #fff;
    }

    input[type=text] {
      color: #000;
      border: 0;
      font-size: 13px;
      border-bottom: 1px solid rgba(128,128,128,.3);
      width: 350px;
      font-size: 13px;
    }

    i {
      font-style: inherit;
    }
  }

}



.message-textarea{
	height: 248px;
	font-family: inherit;
}

.empty-matches-message{
	text-align:center;
}
