.slider {
  position: relative;
  overflow: hidden;
  height: calc(~'100vh - 120px');

  &__items {
    // height: 100%;
    display: flex;
  }

  &__item {
    flex: 0 0 33.33333%;
    flex-shrink: 0;
    vertical-align: top;
    max-width: 33.33333%;
    padding: 0 1.5%;
    min-width: 265px;

    //&:nth-of-type(1) { outline: 4px solid red; }
    //&:nth-of-type(3) { outline: 4px solid green; }
    //&:nth-of-type(5) { outline: 4px solid blue; }
    //&:nth-of-type(7) { outline: 4px solid white; }

    .card {
      width: 100%;
      height: 100%;
      padding-bottom: 16px;

      .job_title {
        height: 1.95em;
        overflow: hidden;
      }

      .card__middle-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    }
  }
}

.slider__bottom-bar {
  bottom: 54px;
  left: 0;
  position: absolute;
  right: 0;

  &-wrap {
    position: relative;
  }

  &_pos {
    &_center {
      position: relative;
      bottom: 0;
      text-align: center;
      margin: 24px 0;

      .button {
        position: relative;
        margin: 0 13px;
        display: inline-block;
      }
    }
  }

  @media @phone {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: auto;
    margin-left: -10px;
    margin-right: -10px;
    right: auto;
  }
}
