# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tags
.tmproj
nbproject
Thumbs.db
tags
.idea

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
reports

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Build output folder.
build/

# Bower stuff.
bower_components/

# API Docs
docs/api/

# DotEnv
.env

# JSON server database
json-server/db.json

# Optional REPL history
.node_repl_history

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Build Files - Staging Server
*.json.gzip
