/* TODO: Merge into styles/blocks/job-(dash)-form.less */
.recruter__newjob-card {
  label.desc {
    color: grey;
    display: block;
    margin-bottom: 1rem;
  }
  .cke_top {
    width: unset;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .cke {
    border: none;
  }
  .cke_contents {
    border: solid 1px #5882f5;
  }
  .loc-button {
    background-color: rgba(0,0,0,0);
    border: none;
    font-style: italic;
    color: #808080;
  }
  .note {
    font-style: italic;
  }
}

