.candidate-profile {

  .profile-head {
    padding: 15px 25px;
    background-color: #4f68ac;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    & > div > img {
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h2 {
      color: #fff;
      font-size: 28px;
      font-weight: 800;
    }

    .profile-avatar > img {
      max-width: 150px;
    }
  }

  .profile-head-info {
    margin-left: 210px;
    color: #fff;

    h2 {
      font-size: 22px;
      font-weight: 300;
    }
    h4 {
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 10px;
    }
    .labeled-value > label {
      color: #bdbcbc
    }
  }

  .profile-data {
    margin: 40px 0 20px 50px;

    .profile-data__item {
      margin-bottom: 40px;

      svg {
        position: absolute;
      }

      span.item-title {
        font-size: 24px;
        font-weight: 800;
        margin-left: 60px;
        padding-left: 35px;
      }

      .item-title-text {
        margin-top: 10px;
        margin-left: 120px;
        font-size: 18px;
      }
    }


    .icon-pin {
      margin-left: 8px;
    }
    .icon-case {
      margin-top: -8px;
    }

    .icon-heart {
      width: 42px;
      height: 30px;
    }
  }

}
