.candidate-application-form {

  .icon-item {
    color: #5a83f5;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  }

  svg.icon-heart {
    fill: red;
    width: 35px;
    height: 35px;
  }

}

